body{
    color: white;
    padding-left: 3%;
    padding-top: 2%;
    background-color:black;
}

h1 {
    color: #007bff;
}
h2{
    color: red;
}

button{
    border-radius: 10px;
}
input{
    border-radius: 10px;
}
img{
    border-radius: 10px;
}
@media only screen and (max-width:650px) {
    body{
        background-color: yellow;
        color: #a73333;
        font-family: "Comic Sans MS", "Comic Sans", cursive; 
    };
}